#map_container {
	margin-top: 44px;
}

#map {
	height: 100%;
	width: 100%;
}

#map_controllers {
	position: absolute;
	top: 50px;
	left: 8px;
}

.right-buttons .detailed_view_buttons {
	font-size: 18px;
	width: 33px;
	margin-right: 5px;
}