
.icon-geotrek {
    
    vertical-align: middle;
    text-decoration: none;

    &.icon-binoculars::before {
        content: url(../images/binocular.svg);
        width: 32px;
        height: 32px;
        font-size: 38px;
    }
    &.icon-binoculars-2::before {
        content: url(../images/binocular-2.svg);
        width: 32px;
        height: 32px;
        font-size: 38px;
    }
}

.switch-detail-map {
    a::before {
          line-height: 42px;
    } 
}

.icon-text {
    line-height: 32px;
    vertical-align: top;
    padding-left: 10px;
}

.leaflet-marker-icon {
    &.trek-icon {
        background: transparent top left no-repeat;
        background-size: 100% auto;
        &.cat-T1 {
            background-image: url(../images/marker-pedestre.svg);
        }
        &.cat-T2 {
            background-image: url(../images/marker-vtt.svg);
        }
        &.cat-T3 {
            background-image: url(../images/marker-equestre.svg);
        }
    }

    &.poi-icon {
        background: transparent top left no-repeat;
        background-size: 100% auto;
    }

    &.trek-cluster {
        border-color: $primaryColor;
        border-radius: 50%;
        border-style: solid;
        border-width: 5px;
        background: white;
        .count {
            color: black;
              text-align: center;
              font-weight: bold;
              width: 25px;
              height: 1rem;
              font-size: 12px;
              display: block;
              position: absolute;
              top: 6px;
              left: 3px;
        }
    }
}