//
// Variables
// --------------------------------------------------

// Grays
// -------------------------

$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// App Colors
//

$green:                  #B4CC1B;
$greenDarker:            #7da013;

$primaryColor:			$green !default;
$secondaryColor:		$greenDarker !default;
$complementaryColor:    $white !default;
$complementaryColor2:   grey !default;
$complementaryColor3:   orange !default;
$complementaryColor4:   blue !default;
$complementaryColor5:   #E0CDA9 !default;

$tabs-color:			$dark;
$tabs-border-color:		$complementaryColor;
$tabs-border-active-color: $primaryColor;

$icon-bt-color:			$dark;
$highlight-text-color:  $primaryColor;

$menu-left-bg: 			$secondaryColor;
$loading-bar-color:     $primaryColor;