<ion-view cache-view="false">
    <ion-nav-title>
        {{ title }}
    </ion-nav-title>

	<ion-nav-buttons side="right" class="detailed_view_buttons">
        <button class="button detailed_view_buttons ion-document-text {{ hideButtons }}"
        ng-click="switchToText()"></button>
    	<button class="button detailed_view_buttons ion-star {{ isFavorite ? 'is_favorite' : '' }} {{ hideButtons }}"
        id="favorite_btn" ng-click="addToFavorites()"></button>
    	<button class="button detailed_view_buttons ion-archive {{ isDownloaded ? 'is_downloaded' : '' }} {{ hideButtons }}"
        id="download_btn" ng-click="downloadTrek()"></button>
	</ion-nav-buttons>

	<geotrek-map size="big"></geotrek-map>
    <div id="map_controllers" class="{{ hideButtons }}">
        <i class="button icon ion-reply" ui-sref="root.map.global"></i>
    </div>
	<ui-view name="map_view"></ui-view>
</ion-view>