.treks_gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.treks_gallery .trek_in_gallery {
	border: 1px solid black;
	margin-bottom: 10px;
}
.treks_gallery .trek_in_gallery .img_cropper {
	overflow: hidden;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -30px;
}
.treks_gallery .trek_in_gallery .img_cropper img {
	width: 100%;
	min-width: 450px;
}

.treks_gallery .trek_in_gallery .corner_action {
	position: relative;
	height: 30px;
	width: 30px;
	font-size: 25px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
}
.treks_gallery .trek_in_gallery .corner_action#favorite {
	left: 0px;
	float: left;
}
.treks_gallery .trek_in_gallery .corner_action#download {
	right: 0px;
	float: right;
}

.treks_gallery .trek_in_gallery .description {
	height: 100px;
	padding: 5px;
}
.treks_gallery .trek_in_gallery .description i {
	font-size: 18px;
}
.treks_gallery .is_favorite {
	color: yellow;
}
.treks_gallery .is_downloaded {
	color: blue;
}

@media (min-width: 0px) and (max-width: 480px) {
	.treks_gallery .trek_in_gallery { width: 100%; }
	.treks_gallery .trek_in_gallery .img_cropper { height: 220px; }
}
@media (min-width: 481px) and (max-width: 768px) {
	.treks_gallery .trek_in_gallery { width: 49.5%; }
	.treks_gallery .trek_in_gallery .img_cropper { height: 220px; }
}
@media (min-width: 769px) and (max-width: 992px) {
	.treks_gallery .trek_in_gallery { width: 49.5%; }
	.treks_gallery .trek_in_gallery .img_cropper { height: 220px; }
}
@media (min-width: 993px) {
	.treks_gallery .trek_in_gallery { width: 33%; }
	.treks_gallery .trek_in_gallery .img_cropper { height: 220px; }
}