<ion-view hide-back-button="true">
    <ion-nav-title>
        {{ title }}
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button ng-click="goBackToTrek()" class="button back-button buttons button-clear header-item">
			<i class="ion-chevron-left"></i> Back
		</button>
	</ion-nav-buttons>

	<ion-content overflow-scroll="false">
		<div class="center_div_wrapper">
			<div class="center_div">
				<h1>{{ poi.properties.name }}</h1>
				<img ng-repeat="picture in poi.properties.pictures" src="{{ picture.url }}" \>
				<div>
					<p ng-bind-html="poi.properties.description"></p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>