#download_btn {
	height: 47px;
	width: 158px;
	border: 1px solid #b2b2b2;
	border-radius: 2px;
	text-align: center;
	line-height: 47px;
	vertical-align: middle;
}

#loading_bar_container {
	width: 100%;
	height: 20px;
	border: 1px solid #b2b2b2;
	border-radius: 2px;
}

#loading_bar_container #loading_bar {
	height:100%;
	width: 0%;
	background-color: green;
}